// main
$v-font-size: 1.125rem;
$v-font-stack: 'Helvetica', 'Arial', sans-serif;
$v-line-height: 1.61em;

// colors
$v-color-white: #ffffff;
$v-color-punch: #f0506e;

// theme
$v-text-neutral: $v-color-white;
$v-highlight-primary: $v-color-punch;